USE [WSS_Content_40425]
GO
/****** Object:  Table [dbo].[EventCache2]    Script Date: 11/30/2011 17:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EventCache2](
	[EventTime] [datetime] NOT NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[SiteId] [uniqueidentifier] NOT NULL,
	[WebId] [uniqueidentifier] NULL,
	[ListId] [uniqueidentifier] NULL,
	[ItemId] [int] NULL,
	[DocId] [uniqueidentifier] NULL,
	[Guid0] [uniqueidentifier] NULL,
	[Int0] [int] NULL,
	[Int1] [int] NULL,
	[ContentTypeId] [dbo].[tContentTypeId] NULL,
	[ItemName] [nvarchar](255) NULL,
	[ItemFullUrl] [nvarchar](260) NULL,
	[EventType] [int] NOT NULL,
	[ObjectType] [int] NOT NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[TimeLastModified] [datetime] NOT NULL,
	[EventData] [image] NULL,
	[ACL] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE CLUSTERED INDEX [EventCache2_Id] ON [dbo].[EventCache2] 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [EventCache2_ListId] ON [dbo].[EventCache2] 
(
	[ListId] ASC,
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [EventCache2_SiteId] ON [dbo].[EventCache2] 
(
	[SiteId] ASC,
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [EventCache2_Time] ON [dbo].[EventCache2] 
(
	[EventTime] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 100) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EventCache2] ON
SET IDENTITY_INSERT [dbo].[EventCache2] OFF
